<footer>
    <div class="foot">

        <p>*Car-Go, we are your premier destination for top-quality car service solutions. With our team of
            experienced technicians and state-of-the-art facilities, we provide a comprehensive range of
            automotive services to keep your vehicle running smoothly and efficiently. From routine maintenance
            and repairs to diagnostics and performance enhancements, we are dedicated to delivering exceptional
            craftsmanship and customer satisfaction. Trust us with your automotive needs and experience the
            difference of our professionalism, attention to detail, and commitment to excellence. Drive with
            confidence and choose car-go for all your car service requirements.
            Our state-of-the-art facilities are equipped with the latest technology and diagnostic tools,
            allowing us to accurately identify and address any issues with your vehicle. We work with precision
            and attention to detail, using only high-quality parts and materials to deliver long-lasting
            results. Our friendly and knowledgeable staff is always ready to assist you, answering any questions
            you may have and providing honest recommendations for your car's maintenance and repair. At Car
            Service, your satisfaction is our top priority, and we are dedicated to keeping you and your vehicle
            safe on the road. Visit us today and discover why we are the trusted choice for car service.
        </p>
        <br>
        <hr>
        <br>
        <div class="ul">
            <ul>
                <h5>Travel and Travel</h5>
                <li><a href="">Store</a></li>
                <li><a href="">Car</a></li>
                <li><a href="">Bus</a></li>
                <li><a href="">Truck</a></li>
                <li><a href="">Bike</a></li>
                <li><a href="">Scooter</a></li>
                <li><a href="">Office & Home</a></li>
                <li><a href=""></a>Travel</li>
                <li><a href=""></a>Accessories</li>
                <li><a href="">Rent Card</a></li>
                <h5>Car Wallet</h5>
                <li><a href="">Booking</a></li>
            </ul>
            <ul class="Align">
                <h5>Account</h5>
                <li><a href="">Manage Your Car ID</a></li>
                <li><a href="">Car Store Account</a></li>
                <li><a href="">Car-Go.com</a></li>
                <h5>Entertainment</h5>
                <li><a href="">Car-Go One</a></li>
                <li><a href="">Car-Go Transport</a></li>
                <li><a href="">Car-Go Music</a></li>
                <li><a href="">Car-Go Wheel</a></li>
                <li><a href="">Car-Go Item</a></li>
                <li><a href="">Car-Go Books</a></li>
                <li><a href="">Car-Go Store</a></li>
            </ul>
            <ul class="Align">
                <h5>Car-Go Store</h5>
                <li><a href="">Car-Go trade In</a></li>
                <li><a href="">Ways to Buy</a></li>
                <li><a href="">Recycling Programme</a></li>
                <li><a href="">order Status</a></li>
                <li><a href="">Shopping Help</a></li>
            </ul>
            <ul class="Align">
                <h5>For Business</h5>
                <li><a href="">Car-Go and Business</a></li>
                <h5>For Education</h5>
                <li><a href="">Car-Go and Education</a></li>
                <li><a href="">Shop for Education</a></li>
                <li><a href="">Shop for University</a></li>
                <h5>For Healthcare</h5>
                <li><a href="">Car-Go in Healthcare</a></li>
                <li><a href="">Health in Car-Go watch</a></li>
            </ul>
            <ul class="Align">
                <h5>Apple Value</h5>
                <li><a href="">Accessibility</a></li>
                <li><a href="">Education</a></li>
                <li><a href="">Environment</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Supplier Responsiblity</a></li>
                <h5>About Car-Go</h5>
                <li><a href="">Newsroom</a></li>
                <li><a href="">Car-Go Leadership</a></li>
                <li><a href="">Career Opportunities</a></li>
                <li><a href="">Investor</a></li>
                <li><a href="">Ethics & Compliance</a></li>
                <li><a href="">Event</a></li>
                <li><a href="">Contact Car-Go</a></li>
            </ul>
        </div>
        <p>More ways to travel: <a href="#"> Find a retailer </a> near you. Or call 800-300-9000.</p>

        <hr>

        <div class="policy">
            <p>Copyright © 2023 Car-Go Inc. All rights reserved. &nbsp;</p>
            <ul class="policy">
                <li> Privacy Policy | &nbsp;</li>
                <li>Terms of Use | &nbsp;</li>
                <li>Sales Policy| &nbsp;</li>
                <li>Legal | &nbsp;</li>
                <li>Site Map | </li>
            </ul>
        </div>
    </div>
</footer>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script><script  src="./script.js"></script>

</body>

</html>