<%-include("partials/header")%>
<%-include("partials/nav")%>
    <div class="main">
        <div id="page1">
           <!-- nav -->
        <!-- img -->

            <div class="box">
                <div id="line">
                    <hr>
                </div>
                <div class="div1">
                    <h3><i class="ri-car-fill"></i></i>Travel<i class="ri-arrow-drop-right-line"></i></h3>
                </div>
                <div class="div2">
                    <h3><i class="ri-taxi-wifi-fill"></i></i>Car Book<i class="ri-arrow-drop-right-line"></i></h3>
                </div>
                <div class="div3">
                    <h3><i class="ri-car-washing-fill"></i>Service<i class="ri-arrow-drop-right-line"></i></h3>
                </div>
                <div class="div4">
                    <h3><i class="ri-truck-line"></i></i>Transport<i class="ri-arrow-drop-right-line"></i></h3>
                </div>

                <div class="text">
                    <h1>Find <span>Your</span> Car-Service</h1>
                    <h2>TOP RATED SERVICE ON DEMAND</h2>
                    <div id="box1">
                        <h3>309,000+ <br> COMPLETED PROJECT
                            <h3>90,000+ <br> REGISTERED CLIENTS </h3>
                            <h3>4.90/5 <br> AVERAGE RATING </h3>
                    </div>

                    <p>PROUDLY <span>TRUSTED </span>BY CLIENTS</p>

                </div>
            </div>
            <div id="logo">
                <img src="/logo_img/car-high-resolution-logo-black-on-transparent-background.png" alt="">
                <img src="/logo_img/maruti.webp" alt="">
                <img src="https://api.logo.com/api/v2/images?logo=logo_327de625-de0a-48fa-b9f0-f3e36c90e2dc&format=webp&margins=0&quality=60&width=500&background=transparent&u=1687412568"
                    alt="">
                <img src="https://api.logo.com/api/v2/images?logo=logo_923ea7d3-7826-4b7d-8b7b-0b8336de0d4a&format=webp&margins=0&quality=60&width=500&background=transparent&u=1687412752"
                    alt="">
                <img src="https://api.logo.com/api/v2/images?logo=logo_6c9b6058-36da-4e96-8cc6-ea16b2eaa479&format=webp&margins=0&quality=60&width=500&background=transparent&u=1687455535"
                    alt="">
            </div>
        </div>
        <!-- page2 -->
        <div id="page2">

            <div id="part1">
                <h1>WE MAKE AUTO REPAIR <br> MORE CONVENIENT</h1>
                <h4>Promotors has over 100 locations across INDIA and <br>
                    India to provide car maintenance and repair service <br> wherever you are.
                </h4>
                <div id="pbox">
                    <div id="p2box1">
                        <h1>8k+</h1>
                        <hr>
                        <p>International standard proccess <br>and large factory system</p>
                    </div>
                    <div id="p2box2">
                        <h1>10k+</h1>
                        <hr>
                        <p>More than 10 years opration<br>in the field of car services</p>
                    </div>
                </div>
            </div>
            <div id="part2">
                <img decoding="async" 
                    src="https://demo.bravisthemes.com/promotors/wp-content/uploads/2022/10/home3-bg-05.jpg"
                    class="attachment-full" alt="home3-bg-05">
            </div>
        </div>
        <!-- page3 -->
        <div class="page4567">

            <div class="page4">
                <div class="pagetext4">
                    <h1>Car-Go Showroom</h1>
                    <p>India's first Car-go center</p> <br>
                    <p>Buy secondhand car on one click </p>
                    <a href="#Buynow"><button>BuyNow</button></a>
                </div>
            </div>

            <div class="page5">
                <div class="pagetext5">
                    <h1><i class="fa-brands fa-apple"></i>Vehical Service</h1>
                    <p>Car-Go Pan India Service.</p> <br>
                    <p>Service your car on one click.</p>
                    <a href="#service"><button>Service</button></a>
                </div>
            </div>
            <div class="page6">
                <div class="pagetext6">
                    <h1><i class="fa-brands fa-apple"></i>Sale Car</h1>
                    <p>Car-Go sale your old car in one second.</p> <br>
                    <p>Everywhere is india.</p>
                    <a href="#sale"> <button>Sale</button></a>
                </div>
            </div>
            <div class="page7">
                <div class="pagetext7">
                    <h1><i class="fa-brands fa-apple"></i>Car rent</h1>
                    <p>Rent your car on one click.</p> <br>
                    <p>Car-Go make your Journey easy.</p>
                    <a href="#Carbook"><button>Car Book</button></a>
                </div>
            </div>
            <hr>
        </div>
        <%-include("partials/footer")%>

        <!-- footer -->
        